.form-table td td,
.form-table td th {
	padding: 5px 0px 15px;
	transform: translateX(-2px);
}

.form-table td table {
	margin-bottom: -15px;
}

.form-table table th {
	display: block;
	width: fit-content;
	padding-right: 20px;
}

.form-table table.is-list {
	border-left: 1px dashed;
	padding-left: 15px;
}

.form-table table.is-list > tbody > tr {
	display: list-item;
	list-style: decimal;
	list-style-position: inside;
	border-bottom: 1px dashed;
	margin-bottom: 10px;
}

.form-table table.is-list > tbody > tr:last-child {
	border-bottom: 0px;
}

.form-table table.is-list > tbody > tr::marker {
	font-weight: bold;
}

.wpct-fieldset-control {
	margin-top: 30px;
}

select[multiple] {
	min-width: 186px;
}
